.nothing__main-content {
   display: flex;
   align-items: center;
   background-color: $primary;
   color: white;
   flex-direction: column;
   justify-content: center;
   height: 100vh;

   p {
      text-align: center;
   }
}
